<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<title>Welcome to LinkAct</title>
		<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
		<!-- 新 Bootstrap 核心 CSS 文件 -->
		<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">

		<!-- 可选的Bootstrap主题文件（一般不用引入） -->
		<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

		<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
		<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

		<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
		<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{%static "css/start_page.css" %}">
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{%static "css/navigation.css" %}">
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{%static "css/profile.css"%}">
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{%static "css/act_info.css"%}">
	
	</head>
	<body margin='0px'>
		<nav class="navbar navbar-default">	
			<div id="logo" style='background-color=#f8f8f8:'>
      			<a id='logopart1'>Link</a>
      			<a id='logopart2'>Act</a>
      			<a id='copy'>"Link The Activities To You"</a>
    		</div>

    		{% if has_login %}
    		{% if has_own_avatar and img.img%}
    		<img id='user_img_id' src={{ img.img.url }} />
    		{% else %}
    		<img id='user_img_id' src="{%static "img/default_avatar.jpg" %}"/>
    		{% endif %}
    		{% endif %}

			<div class="container-fluid" id="navigation_container">
    			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      			<ul class="nav nav-pills navbar-left">

	      				{%url 'start_page_url' as url0 %}
					  	{% if url0 %}
					  	<li role="presentation"><a href="{{ url0 }}">首页</a></li>
					  	{% endif%}

					  	{%url 'linker_page_url' as url1 %}
					  	{% if url1 %}
					  	<li role="presentation"><a href="../../linker/?search_class=nickname&search_content=&search_order=1&search_page=1">领客</a></li>
					  	{% endif %}

					  	{%url 'activities_page_url' as url2 %}
					  	{% if url2 %}
					  	<li role="presentation"><a href="../../activities/?search_class=create_time&search_content=&search_order=1&search_page=1">活动</a></li>
					  	{% endif %}

					  	{%url 'explore_page_url' as url3 %}
					  	{% if url3 %}
					  	<li role="presentation"><a href="{{ url3 }}">探索</a></li>
					  	{% endif %}

					  	{%url 'share_page_url' as url4 %}
					  	{% if url4 %}
					  	<li role="presentation"><a href="{{ url4 }}">分享</a></li>
					  	{% endif%}

					</ul>
		      		<ul class="nav navbar-nav navbar-right">
		      			{% if has_login %}
		      			<li><a id='user_name_id'>{{ user_name }}</a></li>

		        		<li><a href='../../?user_login=0'>登出</a></li>
		        		<li class="dropdown">
			          		<a href='#' class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">操作<span class="caret"></span></a>
				            <ul class="dropdown-menu">
					            <li><a href="#">管理活动</a></li>
					            <li><a href="#">查看好友</a></li>
					            <li><a href="#">分享</a></li>
					            <li role="separator" class="divider"></li>
					            {% url 'user_info_url' as url7%}
					            {% if url7 %}
					            <li><a href="{{ url7 }}">个人信息</a></li>
					            {% endif %}
					            {% url 'user_password_url' as url8%}
					            {% if url8 %}
					            <li><a href="{{ url8 }}">修改密码</a></li>
					            {% endif %}
				            </ul>
			        	</li>
			        	
			        	{% else %}
			        	{% url 'log_in_url' as url5%}
			        	{% if url5%}
			        	<li><a href="{{ url5 }}">登录</a></li>
			        	{% endif %}
		        		{% url 'register_url' as url6%}
		        		{% if url6 %}
		        		<li><a href="{{ url6 }}">注册</a></li>
		        		{% endif %}
			        	{% endif %}
			        </ul>
			    </div><!-- /.navbar-collapse -->
	  		</div><!-- /.container-fluid -->
		</nav>

		<div class="container">
			<div class="row">
				{%if act_infomation.act.status == "ongoing"%}
				<div class="panel panel-success">
                	<div class="panel-heading">
	                  	<h3 class="panel-title">
	                   
	                    	正在进行中
	                   		<small class="pull-right" style="font-size:15px">将于 {{ act_infomation.act.end_date|date:"Y年m月d日" }} 结束</small>
	                   		
	                  	</h3>
                	</div>                
              	</div>
              	{% elif act_infomation.act.status == "created"%}
              	<div class="panel panel-warning">
                	<div class="panel-heading">
	                  	<h3 class="panel-title">
	                   
	                    	尚未开始
	                   		<small class="pull-right" style="font-size:15px">将于 {{ act_infomation.act.start_date|date:"Y年m月d日" }} 开始</small>
	                   		
	                  	</h3>
                	</div>                
              	</div>
              	{% else %}
              	<div class="panel panel-danger">
                	<div class="panel-heading">
	                  	<h3 class="panel-title">
	                   
	                    	已经结束
	                   		<small class="pull-right" style="font-size:15px">已于 {{ act_infomation.act.end_date|date:"Y年m月d日" }} 结束</small>
	                   		
	                  	</h3>
                	</div>                
              	</div>
              	{%endif%}
				<div class="col-sm-4 col-md-4 act-details" style='padding-top:30px;margin-bottom:30px;'>
		            <div class="act-image">
		            	{% if act_has_show_img and act_img.img%}
		                <img src="{{act_img.img.url}}" alt="{{act_infomation.act.name}}" title="{{act_infomation.act.name}}">
		                {%else%}
		               <img src="{%static "img/default_act_img.jpg" %}"/>
		                {%endif%}
		            </div>
		            <div class="act-info-block">
		                <div class="act-heading">
		                    <h3>{{act_infomation.act.name}}</h3>
		                    <span class="help-block">{{act_infomation.act.locale}}</span>
		                </div>
		                <ul class="navigation">
		                    <li>
		                       
		                        <span class="glyphicon glyphicon-user li-title" >活动发起者:</span>
		                        <div class="row">

		                        
								    <div class="col-lg-5">
								        <div class="media">
								            <a class="pull-left" href="{{url0}}personal_info/?id={{ act_infomation.creator.user.id }}&back_page={{this_page}}">
								      			{% if creator_has_own_avatar == True%}
								                <img class="media-object dp img-circle" src={{creator_img.img.url}} style="width: 100px;height:100px;">
								                {% else %}
								                 <img class="media-object dp img-circle" src="{%static "img/default_avatar.jpg" %}" style="width: 100px;height:100px;">
								                {% endif %}
								            </a>
								            <div class="media-body">
								                <h4 class="media-heading">{{act_infomation.creator.nickname}} <small> </small></h4>
								                {% if act_infomation.creator.city == ''%}
								                 <h5>地区:尚未填写</a></h5>
								                 {% else %}
								                 <h5>地区:{{act_infomation.creator.city}}</a></h5>
								                 {% endif %}
								                <hr style="margin:8px auto">
								   
		                    					{% if creator_has_interests == True%}
		                    					{%for one_creator_interest in creator_interests %}
						                    	<span class="tags">{{one_creator_interest}}</span>
						                    	{% endfor %}
						                    	{%endif%}
								               
								            </div>
								        </div>

								    </div>

								    

								</div>
		                    </li>
		                    <li>
		                       
		                        <span class="glyphicon glyphicon-align-left li-title">活动信息</span>
		                        <div class="row">

		                        
								    <div class="col-lg-5">
								    	<div class="media" id='act_info_id'>
								    		<hr/>
              								<span class="glyphicon glyphicon-tasks">活动主题：</span>
					                       
			                        		{% for theme in act_infomation.theme %}
											<span class="tags">{{ theme.content }}</span>
											{% endfor %}
									
					                      	<hr/>
				                        	<span class="glyphicon glyphicon-calendar">活动发起时间：</span>
				                        	<p>{{ act_infomation.act.create_time|date:"Y年m月d日h时i分"  }}</p>
				                       
					                      	<hr/>
				                        	<span class="glyphicon glyphicon-calendar">活动开始时间：</span>
				                        	<p>{{ act_infomation.act.start_date|date:"Y年m月d日" }}</p>
					                        <hr/>
					                      	<span class="glyphicon glyphicon-calendar">活动结束时间：</span>
				                        	<p>{{ act_infomation.act.end_date|date:"Y年m月d日" }}</p>

					                        <hr/>
				                        	<span class="glyphicon glyphicon-list-alt">活动介绍：</span>
				                        	<p>{{ act_infomation.act.introduction }}</p>
					                      
				                        	<hr/>
					                        <span class="glyphicon glyphicon-thumbs-up">活动点赞人：</span>
			                        		{% for supporter in act_infomation.supporters %}
											<p>{{ supporter.nickname }}</p>
											{% endfor %}
											<hr/>
				                    	</div>
				                    </div>
				                </div>
		                   	</li>
		                    <li>
		                        
								  

								    
		                        <span class="fa fa-users li-title">活动参与者</span>
		                         <div class="media" id='join_user'>
						            <a class="pull-left" href="{{url0}}personal_info/?id={{ act_infomation.creator.user.id }}&back_page={{this_page}}">
						      			{% if creator_has_own_avatar == True%}
						                <img class="media-object dp img-circle join_user_head" src={{creator_img.img.url}} style="width: 100px;height:100px;">
						                {% else %}
						                 <img class="media-object dp img-circle join_user_head" src="{%static "img/default_avatar.jpg" %}" style="width: 100px;height:100px;">
						                {% endif %}
						            </a>
						            <div class="media-body">
						                <h4 class="media-heading">{{act_infomation.creator.nickname}} <small> </small></h4>
						                {% if act_infomation.creator.city == ''%}
						                 <h5>地区:尚未填写</a></h5>
						                 {% else %}
						                 <h5>地区:{{act_infomation.creator.city}}</a></h5>
						                 {% endif %}         
						            </div>
						        </div>
		                        {% for one_participant in participants_data %}
								 <div class="media"i d='join_user'>
						            <a class="pull-left" href="{{url0}}personal_info/?id={{ one_participant.user.user.id }}&back_page={{this_page}}">
						      			{% if one_participant.participants_has_own_avatar == True%}
						                <img class="media-object dp img-circle join_user_head" src={{one_participant.participants_img.img.url}} style="width: 100px;height:100px;">
						                {% else %}
						                 <img class="media-object dp img-circle join_user_head" src="{%static "img/default_avatar.jpg" %}" style="width: 100px;height:100px;">
						                {% endif %}
						            </a>
						            <div class="media-body">
						                <h4 class="media-heading">{{one_participant.user.nickname}} </h4>
						                {% if one_participant.user.city == ''%}
						                 <h5>地区:尚未填写</a></h5>
						                 {% else %}
						                 <h5>地区:{{one_participant.user.city}}</a></h5>
						                 {% endif %}
						            </div>
						        </div>
								{% endfor %}
		                    </li>
		                    <li>
		                        
		                        <span class="fa fa-comments li-title">评论</span>
		                       <div class="panel-body">
			              		<div class="row">
			      					{% for comment in comment_info %}
			      						<div class=" col-md-9 col-lg-9 "> 
				                  			<table class="table table-user-information">
				                    				<tr>
							                    		<td>评论人：</td>
							                        	<td>{{ comment.0 }}</td>
							                      	</tr>
							                      	<tr>
							                        	<td>评分：</td>
							                        	<td>{{ comment.1 }}</td>
							                      	</tr>
							                      	<tr>
							                        	<td>评论内容：</td>
							                        	<td>{{ comment.2 }}</td>
							                      	</tr>
							                      	<tr>
							                        	<td>评论时间：</td>
							                        	<td>{{ comment.3|date:"Y年m月d日h时i分" }}</td>
							                      	</tr>
							                      	
							                    </tbody>
				                  			</table>
				                  		</div>
											
									{% endfor %}

				                		
								</div>
							</div>
							

		                    </li>

		                    <li>
		                    	<span class="fa fa-comment li-title">创建评论</span>
		                    	
					            <div class="container">
									<div class="row" style="margin-top:40px;">
										<div class="col-md-6">
								    	<div class="well well-sm">
								            <div class="text-right">
								                <a class="btn btn-success btn-green" href="#reviews-anchor" id="open-review-box" style='padding:5px'>点击打开评论</a>
								            </div>
								        
								            <div class="row" id="post-review-box" style="display:none;">
								                <div class="col-md-12">
								                    <form accept-charset="UTF-8" method="post">
								                    	{% csrf_token %}
								                        <input id="ratings-hidden" name="score" type="hidden" >
								                        <input type='hidden' name='act_id' value='{{ act_id }}'> 
								                        <textarea class="form-control animated" cols="50" id="new-review" name="user_comment" placeholder="请输入评论" rows="5"></textarea>
								        
								                        <div class="text-right">
								                            <div class="stars starrr" data-rating="0"></div>
								                            <a class="btn btn-danger btn-sm" href="#" id="close-review-box" style="display:none;padding:5px;">
								                            <span class="glyphicon glyphicon-remove"></span>取消</a>
								                            <button class="btn btn-success btn-lg" type="submit" value='提交评论' name='submit' style='padding:5px'>提交评论</button>
								                        </div>
								                    </form>
								                </div>
								            </div>
								        </div> 
								         
										</div>
									</div>
								</div>
		                    </li>

		                    <li>
		                    	{% if isCreator == True %}
		                    	<span class="fa fa-info li-title">修改活动</span>
		                    	<div class="row">
								    <div class="col-lg-5" style="padding-left:37px;">

								    	<p>作为创建者，您可以修改活动信息</p>
								    	<a class='btn btn-primary' style='color:white;'href="{{ this_page_no_para }}check_act/?id={{ act_id }}&back_page={{ this_page }}">修改活动信息</a>
								    </div>
								</div>
								{% endif %}
		                    </li>
		                </ul>
		                
		            </div>
		            
			
		            <form method='post' style="text-align:center;">
						{% csrf_token %}
						{% if isParticipant == False %}
						<button type="submit" id="join_btn" name='submit' value='参加' class="btn btn-success"><span class="glyphicon glyphicon-user"></span>参加活动</button>
						{% endif %}
						{% if isParticipant == True %}
						<button type="submit" id="exit_btn" name='submit' value='退出' class="btn btn-danger">
							 <span class="fa fa-arrow-right"></span>退出活动</button>
						{% endif %}
						<input type='hidden' name='act_id' value='{{ act_id }}'>
					</form>
					<div style = 'text-align:center'>
						<a class = 'btn btn-primary'style='color:white; float:center;' href="{{ last_page }}">返回</a>
					</div>
		        </div>
			</div>
		</div>							
		<footer class="bs-docs-footer" role="contentinfo">
			<div class='container' id='copy_right'>
				<hr/>
				<p>由古志诚、向首兴、楼昀恺设计以及建造的网站</p>
				<p>感谢github上开源的bootstrap框架以及django框架</p>
				<p>若有建议以及意见，请不拘束地联系我们</p>
				<p>Gu's email:734291093@qq.com</p>
				<p>Xiang's email:xsx1996@163.com</p>
				<p>Lou's email:louyk14@163.com</p>
			</div>
		</footer>
	</body>
	{% load staticfiles %}
	<script src="{%static "js/comment.js" %}"></script>

</html>