<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<title>Welcome to LinkAct</title>
		<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
		<!-- 新 Bootstrap 核心 CSS 文件 -->
		<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">

		<!-- 可选的Bootstrap主题文件（一般不用引入） -->
		<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

		<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
		<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

		<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
		<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{%static "css/start_page.css" %}">
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{%static "css/navigation.css" %}">
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{%static "css/profile.css"%}">
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{%static "css/bootstrap-datetimepicker.min.css"%}">
	
	</head>
	<body margin='0px'>
		<nav class="navbar navbar-default">	
			<div id="logo" style='background-color=#f8f8f8:'>
      			<a id='logopart1'>Link</a>
      			<a id='logopart2'>Act</a>
      			<a id='copy'>"Link The Activities To You"</a>
    		</div>

    		{% if has_login %}
    		{% if has_own_avatar and img.img%}
    		<img id='user_img_id' src={{ img.img.url }} />
    		{% else %}
    		<img id='user_img_id' src="{%static "img/default_avatar.jpg" %}"/>
    		{% endif %}
    		{% endif %}

			<div class="container-fluid" id="navigation_container">
    			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      			<ul class="nav nav-pills navbar-left">

	      				{%url 'start_page_url' as url0 %}
					  	{% if url0 %}
					  	<li role="presentation"><a href="{{ url0 }}">首页</a></li>
					  	{% endif%}

					  	{%url 'linker_page_url' as url1 %}
					  	{% if url1 %}
					  	<li role="presentation"><a href="{{ url1 }}?search_class=&search_content=&search_order=1&search_page=1">领客</a></li>
					  	{% endif %}

					  	{%url 'activities_page_url' as url2 %}
					  	{% if url2 %}
					  	<li role="presentation"><a href="{{ url2 }}?search_class=create_time&search_content=create_time&search_order=1&search_page=1">活动</a></li>
					  	{% endif %}

					  	{%url 'explore_page_url' as url3 %}
					  	{% if url3 %}
					  	<li role="presentation"><a href="{{ url3 }}">探索</a></li>
					  	{% endif %}

					  	{%url 'share_page_url' as url4 %}
					  	{% if url4 %}
					  	<li role="presentation"><a href="{{ url4 }}">分享</a></li>
					  	{% endif%}

					</ul>
		      		<ul class="nav navbar-nav navbar-right">
		      			{% if has_login %}
		      			<li><a id='user_name_id'>{{ user_name }}</a></li>

		        		<li><a href='../../?user_login=0'>登出</a></li>
		        		<li class="dropdown">
			          		<a href='#' class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">操作<span class="caret"></span></a>
				            <ul class="dropdown-menu">
					            <li><a href="#">管理活动</a></li>
					            <li><a href="#">查看好友</a></li>
					            <li><a href="#">分享</a></li>
					            <li role="separator" class="divider"></li>
					            {% url 'user_info_url' as url7%}
					            {% if url7 %}
					            <li><a href="{{ url7 }}">个人信息</a></li>
					            {% endif %}
					            {% url 'user_password_url' as url8%}
					            {% if url8 %}
					            <li><a href="{{ url8 }}">修改密码</a></li>
					            {% endif %}
				            </ul>
			        	</li>
			        	
			        	{% else %}
			        	{% url 'log_in_url' as url5%}
			        	{% if url5%}
			        	<li><a href="{{ url5 }}">登录</a></li>
			        	{% endif %}
		        		{% url 'register_url' as url6%}
		        		{% if url6 %}
		        		<li><a href="{{ url6 }}">注册</a></li>
		        		{% endif %}
			        	{% endif %}
			        </ul>
			    </div><!-- /.navbar-collapse -->
	  		</div><!-- /.container-fluid -->
		</nav>
		
		<div class="container" style="background-color:white;margin-bottom: 30px;">
			<form class="form-horizontal" method="POST" enctype="multipart/form-data">
			{% csrf_token %}
				<fieldset>

				<!-- Form Name -->
				<legend>基本信息(必填)</legend>

				<!-- Text input-->
				<div class="form-group">
				  	<label class="col-md-4 control-label" for="name">活动名称:</label>  
				  	<div class="col-md-4">
				  	<input id="name" name="name" type="text" placeholder="请填写活动名称" class="form-control input-md" required="">
				    
				  	</div>
				</div>
				<div class="form-group">
					<label for="start_date" class="col-md-4 control-label">启始日期:</label>
					<div class="input-group date form_date col-md-4" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
						<input class="form-control" style="margin-left: 12px; background-color:white;" id="start_date" name="start_date"size="16" type="text" 
						required="" readonly>
						<span class="input-group-addon" style="margin-left: 12px;"><span class="glyphicon glyphicon-remove"></span></span>
						<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
					</div>
					<input type="hidden" value="" /><br/>
				</div>

				<div class="form-group">
					<label for="end_date" class="col-md-4 control-label">结束日期:</label>
					<div class="input-group date form_date col-md-4" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
						<input class="form-control" style="margin-left: 12px; background-color:white;" id="end_date" name="end_date"size="16" type="text" 
						required="" readonly>
						<span class="input-group-addon" style="margin-left: 12px;"><span class="glyphicon glyphicon-remove"></span></span>
						<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
					</div>
					<input type="hidden" value="" /><br/>
				</div>

				<div class="form-group">
		        <label class="col-md-4 control-label" for="province">省份</label>

			        <div class="col-md-4 controls">
			            <select id="province" name="province" class="form-control">
			                <option value="载入中">载入中</option>
			            </select>
			        </div>
			    </div>
			    <div class="form-group">
			        <label class="col-md-4 control-label" for="city">城市</label>

			        <div class="col-md-4 controls">
			            <select id="city" name="city" class="form-control">
			                <option value="载入中">载入中</option>
			            </select>
			        </div>
			    </div>

				<!-- Multiple Checkboxes -->
				<div class="form-group">
				  	<label class="col-md-4 control-label" for="checkboxes">活动主题:</label>
				  	<div class="col-md-4">
					  	{% for data in theme_type %}
						<div class="checkbox">
							<label for="checkboxes">
							<input type="checkbox" name="theme" id="theme-0" value="{{data.0}}">
							{{data.1}}
						</div>
						{% endfor %}
				  	</div>
				</div>


				<legend>详细信息(选填)</legend>
			
				<!-- File Button --> 
				<div class="form-group">
					<label class="col-md-4 control-label" for="act_img_upload">活动缩略图:</label>
					<div class='col-md-4'>
						<input type="file" name="act_img_upload" id="act_img_upload" style="background-color:white;">
				  	</div>
				</div>

				<div class="form-group">
				  	<label class="col-md-4 control-label" for="intro">活动简介:</label>
				  	<div class="col-md-4">                     
				    	<textarea class="form-control" id="intro" name="intro">无</textarea>
				 	</div>
				</div>

			<!-- Button (Double) -->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="create_btn"></label>
				  <div class="col-md-8">
				    <button type="submit" id="create_btn" name="create_btn" value='create' class="btn btn-success">创建</button>
				   
				  </div>
				</div>

				
			</fieldset>
			</form>
			<div class="form-group">
				 <div class="col-md-8">
					<button id="cancel_btn" name="cancel_btn" class="btn btn-danger"><a href="{{ url2 }}?search_class=create_time&search_content=create_time&search_order=1&search_page=1" style="text_decoration:none; color:white;">取消</a></button>
				</div>
			</div>
		</div>
		<footer class="bs-docs-footer" role="contentinfo">
			<div class='container' id='copy_right'>
				<hr/>
				<p>由古志诚、向首兴、楼昀恺设计以及建造的网站</p>
				<p>感谢github上开源的bootstrap框架以及django框架</p>
				<p>若有建议以及意见，请不拘束地联系我们</p>
				<p>Gu's email:734291093@qq.com</p>
				<p>Xiang's email:xsx1996@163.com</p>
				<p>Lou's email:louyk14@163.com</p>
			</div>
		</footer>
	</body>
	{% load staticfiles %}
	<script src="{%static "js/bootstrap-datetimepicker.min.js" %}"></script>
	{% load staticfiles %}
	<script src="{%static "js/bootstrap-datetimepicker.zh-CN.js" %}"></script>
	{% load staticfiles %}
	<script src="{%static "js/bootstrap-filestyle.min.js" %}"> </script>
	{% load staticfiles %}
	<script src="{%static "js/data1.js" %}"> </script>
	{% load staticfiles %}
	<script src="{%static "js/jquery.city.select.min.js" %}"> </script>
	<script type="text/javascript">

		city_code = [];

		default_province = "{{default_province}}";
		default_city = "{{default_city}}";
		for(var i = 0; i < data.length; i++)
		{
			if(data[i]['name'] == default_province)
			{
				city_code.push(data[i]['id']);
				for(var j = 0; j < data[i]['cities'].length; j++)
				{
					if(data[i]['cities'][j]['name'] == default_city)
					{
						city_code.push(data[i]['cities'][j]['id']);
						break;
					}
				}
				break;
			}			
		}
	  	$('#province, #city').citylist({
	        data    : data,
	        id      : 'id',
	        children: 'cities',
	        name    : 'name',
	        metaTag : 'name',
	        selected : city_code
	    });
		$('.form_date').datetimepicker({
	        language:  'zh-CN',
	        weekStart: 1,
	        todayBtn:  1,
			autoclose: 1,
			todayHighlight: 1,
			startView: 2,
			minView: 2,
			forceParse: 0
	    });
		$('#start_date').width($('#start_date').width() - 12);
		$('#end_date').width($('#end_date').width() - 12);
		$(":file").filestyle();
	</script>
	
</html>