<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<title>Link The Activities</title>
		<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
		<!-- 新 Bootstrap 核心 CSS 文件 -->
		<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">

		<!-- 可选的Bootstrap主题文件（一般不用引入） -->
		<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

		<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
		<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

		<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
		<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{%static "css/navigation.css" %}">
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{%static "css/activities_page.css" %}">

	
		
		<script src="http://code.jquery.com/jquery-1.4.3.min.js"></script>


	</head>
	<body margin='0px'>
		<nav class="navbar navbar-default">	
			<div id="logo" style='background-color=#f8f8f8:'>
      			<a id='logopart1'>Link</a>
      			<a id='logopart2'>Act</a>
      			<a id='copy'>"Link The Activities To You"</a>
    		</div>

    		{% if has_login %}
    		{% if has_own_avatar and img.img%}
    		<img id='user_img_id' src={{ img.img.url }} />
    		{% else %}
    		<img id='user_img_id' src="{%static "img/default_avatar.jpg" %}"/>
    		{% endif %}
    		{% endif %}

			<div class="container-fluid" id="navigation_container">
    			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      			<ul class="nav nav-pills navbar-left">
					  	{%url 'start_page_url' as url0 %}
					  	{% if url0 %}
					  	<li role="presentation"><a href="{{ url0 }}">首页</a></li>
					  	{% endif%}

					  	{%url 'linker_page_url' as url1 %}
					  	{% if url1 %}
					  	<li role="presentation"><a href="{{ url1 }}?search_class=create_time&search_content=&search_order=1&search_page=1">领客</a></li>
					  	{% endif %}

					  	{%url 'activities_page_url' as url2 %}
					  	{% if url2 %}
					  	<li role="presentation" class='active'><a href="{{ url2 }}?search_class=create_time&search_content=create_time&search_order=1&search_page=1">活动</a></li>
					  	{% endif %}

					  	{%url 'explore_page_url' as url3 %}
					  	{% if url3 %}
					  	<li role="presentation"><a href="{{ url3 }}">探索</a></li>
					  	{% endif %}

					  	{%url 'share_page_url' as url4 %}
					  	{% if url4 %}
					  	<li role="presentation"><a href="{{ url4 }}">分享</a></li>
					  	{% endif%}

					</ul>
		      		<ul class="nav navbar-nav navbar-right">
		        		{% if has_login %}
		      			<li><a id='user_name_id'>{{ user_name }}</a></li>
		        		<li><a href='../?user_login=0'>登出</a></li>
		        		<li class="dropdown">
			          		<a href='#' class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">操作<span class="caret"></span></a>
				            <ul class="dropdown-menu">
					            <li><a href="#">管理活动</a></li>
					            <li><a href="#">查看好友</a></li>
					            <li><a href="#">分享</a></li>
					            <li role="separator" class="divider"></li>
					            {% url 'user_info_url' as url7%}
					            {% if url7 %}
					            <li><a href="{{ url7 }}">用户信息</a></li>
					           	{% endif%}
					           	{%url 'user_password_url' as url8%}
					           	{% if url8%}
					            <li><a href="{{ url8 }}">修改密码</a></li>
					            {% endif %}
				            </ul>
			        	</li>
			        	{% else %}
			        	{% url 'log_in_url' as url5%}
			        	{% if url5%}
			        	<li><a href="{{ url5 }}">登录</a></li>
			        	{% endif %}
		        		{% url 'register_url' as url6%}
		        		{% if url6 %}
		        		<li><a href="{{ url6 }}">注册</a></li>
		        		{% endif %}
			        	{% endif %}
			        </ul>
			    </div><!-- /.navbar-collapse -->
	  		</div><!-- /.container-fluid -->
		</nav>
		<div class="cover">
			<p id="title">Enjoy The Activties</p>
			<p id="subtitle">make the life better</p>
		</div>

		<!-- <form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
		    <div class="input-group">
		        <select class="combobox" name="search_class">
		            <option></option>
		            <option value="theme">主题</option>
		            <option value="CT">Connecticut</option>
		            <option value="NY">New York</option>
		            <option value="MD">Maryland</option>
		            <option value="VA">Virginia</option>
		        </select>
		        <input name="search_content" type="text" class="form-control">
		    </div>		    
		    <input type="submit" name="submit" value="search_submit">
		</form>

		{% for data in new_data %}	
			<p>{{ data.0 }}</p>
			<a href="{{ data.2 }}">{{ data.1 }}</a> 
		{% endfor %}
		<form method='post'>
			<input type='submit' name='submit' value='全部忽略'>
		</form>
		 -->
		
	<!-- 	{% for r in result %}
		    <h2>
		      <p>
		        <input type='text' value={{r.name}} >
		      </p>
		       <a href="../act_info/?id={{ r.id }}&last_page={{ current_url }}">详情</a>
		    </h2>
		{% endfor %}-->


		<div class="container" style="padding-top:30px;padding-bottom:30px;">
		    <div class="row">    
		        <div class="col-md-12">
				    <form method="POST" enctype="multipart/form-data">
				    	{% csrf_token %}
		            	<div class="input-group" id="search_group">
			                <input type="hidden" name="search_class" id="search_class" 
			                value="{{search_class_pass_value}}">       
			                <input type="text" class="form-control" name="search_content" placeholder="查找活动"
			                value="{{search_content_pass_text}}">
			                 <div class="input-group-btn search-panel">
			                    <button type="button" class="btn btn-default dropdown-toggle search-btn-right" data-toggle="dropdown">
			                        <span id="search_class_text" name="search_class_text">
			                        	{{search_class_pass_text}}</span> <span class="caret"></span>
			                    </button>
			                    
			                    <ul class="dropdown-menu" role="menu">
			                      	
			                      	<li><a value='theme'>按照主题搜索</a></li>
			                      	<li><a value='status'>按照状态搜索</a></li>
			                      	<li><a value='name'>按照名字搜索</a></li>
			                      	<li><a value='creator'>按照创建者搜索</a></li>	
			                      	<li><a value='locale'>按照地点搜索</a></li>	
			                      	<li><a value='introduction'>按照介绍搜索</a></li>	                     
			                      	<li class="divider"></li>
			                      	<li><a value='all'>无筛选条件</a></li>
			                    </ul>
			                </div>
			                <span class="input-group-btn">
			                    <button class="btn btn-default" type="submit" name="submit" value="search_submit"><span class="glyphicon glyphicon-search"></span></button>
			                </span>
		            	</div>
		            </form>
		        </div>
			</div>
		</div>


		<div class="container">
			<div class="row">
				<div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
					<ul class="event-list">
						{% for show_act in pass_data %}
						<li>
							<time datetime="2014-07-20">
								<span class="day">{{show_act.act.start_date|date:"d"}}</span>
								<span class="month">{{show_act.act.start_date|date:"m月"}}</span>
								<span class="year">{{show_act.act.start_date|date:"Y"}}</span>
								
							</time>
							{% if show_act.has_show_img == True%}
							<img alt="" src="{{show_act.pass_img.img.url}}" />
							{% else %}
							<img alt="" src="{%static "img/default_act_img.jpg" %}"/>
							{% endif %}
							<div class="info">
								<h2 class="title">{{show_act.act.name}}</h2>
								<p class="desc">{{show_act.act.locale}}</p>
								<p class="desc">{{show_act.act.end_date}}</p>
								<p class="desc">{{show_act.act.introduction}}</p>
								<a href="../act_info/?id={{ show_act.act.id }}&last_page={{ current_url }}">详情</a>
							</div>
							<!-- <div class="social">
								<ul>
									<li class="facebook" style="width:33%;"><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
									<li class="twitter" style="width:34%;"><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
									<li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-google-plus"></span></a></li>
								</ul>
							</div> -->
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>

		<a href="{{ no_param_path }}create_activity/">创建活动</a>
		
		{% if is_first_page == False %}
		<a href="{{ first_page_url }}">首页</a>
		<a href="{{ front_page_url }}">上一页</a>
		{% endif %}

		{% if is_last_page == False %}
		<a href="{{ next_page_url }}">下一页</a>
		{% endif %}

		<p>当前第{{ current_page }}页</p>

		<footer class="bs-docs-footer" role="contentinfo">
			<div class='container' id='copy_right'>
				<hr/>
				<p>由古志诚、向首兴、楼昀恺设计以及建造的网站</p>
				<p>感谢github上开源的bootstrap框架以及django框架</p>
				<p>若有建议以及意见，请不拘束地联系我们</p>
				<p>Gu's email:734291093@qq.com</p>
				<p>Xiang's email:xsx1996@163.com</p>
				<p>Lou's email:louyk14@163.com</p>
			</div>
		</footer>
	</body>
	<!-- 
	<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
	<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<script src="http://code.jquery.com/jquery-1.4.3.min.js"></script>-->
	<script type="text/javascript">
		$(document).ready(function(e){
		    $('.search-panel .dropdown-menu').find('a').click(function(e) {
				e.preventDefault();
				
				var concept = $(this).text();
				var value = $(this).attr('value');

				$('.search-panel span#search_class_text').text(concept);
				$('#search_class').attr('value', value);
			});
		});
	</script>
</html>