<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<title>Be A Linker</title>

		<!-- 新 Bootstrap 核心 CSS 文件 -->
		<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">

		<!-- 可选的Bootstrap主题文件（一般不用引入） -->
		<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{%static "css/navigation.css" %}">
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{%static "css/linker_page.css" %}">
	
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
		
	</head>
	<body margin='0px'>
		<nav class="navbar navbar-default">	
			<div id="logo" style='background-color=#f8f8f8:'>
      			<a id='logopart1'>Link</a>
      			<a id='logopart2'>Act</a>
      			<a id='copy'>"Link The Activities To You"</a>
    		</div>

    		{% if has_login %}
    		{% if has_own_avatar and img.img%}
    		<img id='user_img_id' src='{{ img.img.url }}'/>
    		{% else %}
    		<img id='user_img_id' src="{%static "img/default_avatar.jpg" %}"/>
    		{% endif %}
    		{% endif %}

			<div class="container-fluid" id="navigation_container">
    			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      			<ul class="nav nav-pills navbar-left">
					  	{%url 'start_page_url' as url0 %}
					  	{% if url0 %}
					  	<li role="presentation"><a href="{{ url0 }}">首页</a></li>
					  	{% endif%}

					  	{%url 'linker_page_url' as url1 %}
					  	{% if url1 %}
					  	<li role="presentation" class='active'><a href="{{ url1 }}?search_class=&search_content=&search_order=1&search_page=1">领客</a></li>
					  	{% endif %}

					  	{%url 'activities_page_url' as url2 %}
					  	{% if url2 %}
					  	<li role="presentation"><a href="{{url2}}?search_class=create_time&search_content=&search_order=1&search_page=1">活动</a></li>
					  	{% endif %}

					  	{%url 'explore_page_url' as url3 %}
					  	{% if url3 %}
					  	<li role="presentation"><a href="{{ url3 }}">探索</a></li>
					  	{% endif %}

					  	{%url 'share_page_url' as url4 %}
					  	{% if url4 %}
					  	<li role="presentation"><a href="{{ url4 }}">分享</a></li>
					  	{% endif%}

					</ul>
		      		<ul class="nav navbar-nav navbar-right">
		        		{% if has_login %}
		      			<li><a id='user_name_id'>{{ user_name }}</a></li>
		        		<li><a href='../?user_login=0'>登出</a></li>
		        		<li class="dropdown">
			          		<a href='#' class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">操作<span class="caret"></span></a>
				            <ul class="dropdown-menu">
					            <li><a href="#">管理活动</a></li>
					            <li><a href="#">查看好友</a></li>
					            <li><a href="#">分享</a></li>
					            <li role="separator" class="divider"></li>
					            {% url 'user_info_url' as url7%}
					            {% if url7 %}
					            <li><a href="{{ url7 }}">用户信息</a></li>
					           	{% endif%}
					           	{% url 'user_password_url' as url8%}
					            {% if url8%}
					            <li><a href="{{ url8 }}">修改密码</a></li>
					            {% endif %}
				            </ul>
			        	</li>
			        	{% else %}
			        	{% url 'log_in_url' as url5%}
			        	{% if url5%}
			        	<li><a href="{{ url5 }}">登录</a></li>
			        	{% endif %}
		        		{% url 'register_url' as url6%}
		        		{% if url6 %}
		        		<li><a href="{{ url6 }}">注册</a></li>
		        		{% endif %}
			        	{% endif %}			        
			        </ul>
			    </div><!-- /.navbar-collapse -->
	  		</div><!-- /.container-fluid -->
		</nav>
		<div class="cover">
			<p id="title">Join The Activties</p>
			<p id="subtitle">make the life better</p>
		</div>

		<div class="container" style="padding-top:30px;padding-bottom:30px;">
		    <div class="row">    
		        <div class="col-md-12">
				    <form method="POST" enctype="multipart/form-data">
				    	{% csrf_token %}
		            	<div class="input-group" id="search_group">
			                <input type="hidden" name="search_class" id="search_class" 
			                value="{{search_class_pass_value}}">       
			                <input type="text" class="form-control" name="search_content" placeholder="发现其他领客"
			                value="{{search_content_pass_text}}">
			                 <div class="input-group-btn search-panel">
			                    <button type="button" class="btn btn-default dropdown-toggle search-btn-right" data-toggle="dropdown">
			                        <span id="search_class_text" name="search_class_text">
			                        	{{search_class_pass_text}}</span> <span class="caret"></span>
			                    </button>
			                    
			                    <ul class="dropdown-menu" role="menu">
			                      	
			                      	<li><a value='username'>按照用户搜索</a></li>
			                      	<li><a value='nickname'>按照昵称搜索</a></li>
			                      	<li><a value='city'>按照城市搜索</a></li>			                     
			                      	<li class="divider"></li>
			                      	<li><a value='all'>无筛选条件</a></li>
			                    </ul>
			                </div>
			                <span class="input-group-btn">
			                    <button class="btn btn-default" type="submit" name="submit" value="search_submit"><span class="glyphicon glyphicon-search"></span></button>
			                </span>
		            	</div>
		            </form>
		        </div>
			</div>
		</div>

		{% for ask in requests %}
		    <form method='post'>
		    	{% csrf_token %}
		        <p>
		      		<a href="{{ ask.1 }}">{{ ask.2 }}</a>
		      		<input type='hidden' name='request_id' value='{{ask.0}}'>
		      		<input type='text' value='请求加你为好友'>
		        	<input type='submit' name='submit' class='' value='同意'>
		        	<input type='submit' name='submit' value='拒绝'>
		        	<input type='hidden' name='old_url' value={{ current_url }}> 
		        </p>
		    </form>
		{% endfor %}
		{% for result_user in pass_data %}
		{#用户列表#}
		<div class="container">
			<div class="row">
				<div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
		    	 <div class="well profile">
		            <div class="col-sm-12">
		                <div class="col-xs-12 col-sm-8">
		                    <h2>{{result_user.other_user.user.username}}</h2>
		                    
		                    <h3>{{result_user.other_user.nickname}}</h3>
							{% if result_user.other_user.city == ''%}
							<p><strong>城市: </strong>尚未填写</p>
							{% else %}
		                    <p><strong>城市: </strong>{{result_user.other_user.city}}</p>
		                    {% endif %}
		                    <p><strong>爱好: </strong>
		                    	{% if result_user.has_interest == False%}
		                    	尚未填写
		                    	{% else %}
		                    	{%for one_interest in result_user.other_interests%}
		                    	<span class="tags">{{one_interest}}</span>
		                    	{% endfor %}
		                    	{%endif%}
		                     
		                    </p>
		                </div>             
		                <div class="col-xs-12 col-sm-4 text-center">
		                    <figure>
		                       {% if result_user.other_has_own_avartar == True%}
				                <img id="other_user_img" src="{{result_user.other_img.img.url}}" alt="{{result_user.other_user.user.username}}" title="{{result_user.other_user.user.username}}"/>
				                {% else %}
				                <img id="other_user_img" src="{%static "img/default_avatar.jpg" %}" alt="{{result_user.other_user.user.username}}" title="{{result_user.other_user.user.username}}"/>
				                {% endif %}
		                        
		                    </figure>
		                </div>
		            </div>            
		            <div class="col-xs-12 divider text-center">
		                <div class="col-xs-12 col-sm-4 emphasis">
		                    <h2><strong> 20,7K </strong></h2>                    
		                    <p><small>Followers</small></p>
		                    <form method='post'>{% csrf_token %} 
		                    {% if result_user.other_can_friends == '0' %}
		                    <button class="btn btn-success btn-block" name='submit' value='加为好友'>
		                    	<span class="fa fa-plus-circle"></span> 加为好友	          		                      		
		                    	<input type='hidden' name='person_id' value='{{result_user.other_user.user.id}}'>	                    

		                    </button>
		                    {% elif result_user.other_can_friends == '1' %}
		                    <button class="btn btn-success btn-block">
		                    	请求已发送
		                    </button>
		                    {% else %}
		                    <button class="btn btn-success btn-block">
		                    	已是好友
		                    </button>
		                    {% endif %}
		                </form>	 
		                </div>
		                <div class="col-xs-12 col-sm-4 emphasis">
		                    <h2><strong>245</strong></h2>                    
		                    <p><small>Following</small></p>
		                    <button class="btn btn-info btn-block"><span class="fa fa-user"></span>
		                    	<a href="../personal_info/?id={{ result_user.other_user.user.id }}&last_page={{ current_url }}"> 查看信息 
		                    	</a>
		                    </button>
		                </div>
		                <div class="col-xs-12 col-sm-4 emphasis">
		                    <h2><strong>43</strong></h2>                    
		                    <p><small>Snippets</small></p>
		                   <!--  <div class="btn-group dropup btn-block">
		                      <button type="button" class="btn btn-primary"><span class="fa fa-gear"></span> Options </button>
		                 
		                    </div> -->
		                </div>
		            </div>
		    	 </div>                 
				</div>
			</div>
		</div>
		{% endfor %}

		{% if is_first_page == False %}
		<a href="{{ first_page_url }}">首页</a>
		<a href="{{ front_page_url }}">上一页</a>
		{% endif %}

		{% if is_last_page == False %}
		<a href="{{ next_page_url }}">下一页</a>
		{% endif %}

		<p>当前第{{ current_page }}页</p>

		<footer class="bs-docs-footer" role="contentinfo">
			<div class='container' id='copy_right'>
				<hr/>
				<p>由古志诚、向首兴、楼昀恺设计以及建造的网站</p>
				<p>感谢github上开源的bootstrap框架以及django框架</p>
				<p>若有建议以及意见，请不拘束地联系我们</p>
				<p>Gu's email:734291093@qq.com</p>
				<p>Xiang's email:xsx1996@163.com</p>
				<p>Lou's email:louyk14@163.com</p>
			</div>
		</footer>
	</body>

	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<script src="http://code.jquery.com/jquery-1.4.3.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(e){
		    $('.search-panel .dropdown-menu').find('a').click(function(e) {
				e.preventDefault();
				
				var concept = $(this).text();
				var value = $(this).attr('value');

				$('.search-panel span#search_class_text').text(concept);
				$('#search_class').attr('value', value);
			});
		});
	</script>
	
</html>