<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<title>Be A Linker</title>
		<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
		<!-- 新 Bootstrap 核心 CSS 文件 -->
		<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">

		<!-- 可选的Bootstrap主题文件（一般不用引入） -->
		<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

		<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
		<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

		<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
		<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{%static "css/navigation.css" %}">
		<script src="{%static "js/register.js" %}"></script>
	
	</head>
	<body margin='0px'>
		<nav class="navbar navbar-default">	
			<div id="logo" style='background-color=#f8f8f8:'>
      			<a id='logopart1'>Link</a>
      			<a id='logopart2'>Act</a>
      			<a id='copy'>"Link The Activities To You"</a>
    		</div>

    		
			<div class="container-fluid" id="navigation_container">
    			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      			<ul class="nav nav-pills navbar-left">
					  	{%url 'start_page_url' as url0 %}
					  	{% if url0 %}
					  	<li role="presentation"><a href="{{ url0 }}">首页</a></li>
					  	{% endif%}

					  	{%url 'linker_page_url' as url1 %}
					  	{% if url1 %}
					  	<li role="presentation"><a href="{{ url1 }}?search_class=&search_content=&search_order=1&search_page=1">领客</a></li>
					  	{% endif %}

					  	{%url 'activities_page_url' as url2 %}
					  	{% if url2 %}
					  	<li role="presentation"><a href="{{ url2 }}?search_class=create_time&search_content=create_time&search_order=1&search_page=1">活动</a></li>
					  	{% endif %}

					  	{%url 'explore_page_url' as url3 %}
					  	{% if url3 %}
					  	<li role="presentation"><a href="{{ url3 }}">探索</a></li>
					  	{% endif %}

					  	{%url 'share_page_url' as url4 %}
					  	{% if url4 %}
					  	<li role="presentation"><a href="{{ url4 }}">分享</a></li>
					  	{% endif %}

					</ul>
		      		<ul class="nav navbar-nav navbar-right">
		      			{% url 'log_in_url' as url5%}
			        	{% if url5%}
		        		<li><a href="{{ url5 }}">登录</a></li>
		        		{% endif %}
			        </ul>
			    </div><!-- /.navbar-collapse -->
	  		</div><!-- /.container-fluid -->
		</nav>
		<div class="cover">
			<p id="title">Sign Up Now</p>
			<p id="subtitle">We are looking forward to your attendance</p>
		</div>

		<!--中期检查后这里需要重新设计一下-->
		<form class="form-horizontal" method="post">
		    {% csrf_token %}
			<fieldset>

				<!-- Form Name -->
				<legend style='text-align:center;'>注册您的新账户</legend>

				<!-- Text input-->
				<div class="form-group">
				    <label class="col-md-4 control-label" for="username">用户名</label>  
				    <div class="col-md-4">
	    				<input id="username" name="username" type="text" placeholder="请输入用户名" class="form-control input-md" required="">
					</div>
				</div>
				<div class="form-group">
				    <label class="col-md-4 control-label" for="nickname">昵称</label>  
				    <div class="col-md-4">
	    				<input id="nickname" name="nickname" type="text" placeholder="请输入昵称" class="form-control input-md" required="">
					</div>
				</div>

				<!-- Password input-->
				<div class="form-group">
				  	<label class="col-md-4 control-label" for="password1">密码</label>
				  	<div class="col-md-4">
				    	<input id="password1" name="password1" type="password" placeholder="请输入密码" class="form-control input-md" required="">
				    </div>
				</div>

				<!-- Password input-->
				<div class="form-group">
				  	<label class="col-md-4 control-label" for="password2">请再次输入密码</label>
				  	<div class="col-md-4">
				    	<input id="password2" name="password2" type="password" placeholder="请输入密码" class="form-control input-md" required="">
				    
				  	</div>
				</div>

				<!-- Text input-->
				<div class="form-group">
				  	<label class="col-md-4 control-label" for="email">电子邮箱</label>  
				  	<div class="col-md-4">
				  		<input id="email" name="email" type="email" placeholder="请输入合法的电子邮箱" class="form-control input-md" required="">
				  		<span class="help-block">我们将会向此电子邮箱发出验证连接</span>  
				  	</div>
				</div>

				<!-- Button -->
				<div class="form-group">
				  	<label class="col-md-4 control-label" for="singlebutton"></label>
				  	<div class="col-md-4">
				    	<button id="singlebutton" name="singlebutton" class="btn btn-primary">注册</button>
				  	</div>
				</div>
			</fieldset>
		</form>


		<footer class="bs-docs-footer" role="contentinfo">
			<div class='container' id='copy_right'>
				<hr/>
				<p>由古志诚、向首兴、楼昀恺设计以及建造的网站</p>
				<p>感谢github上开源的bootstrap框架以及django框架</p>
				<p>若有建议以及意见，请不拘束地联系我们</p>
				<p>Gu's email:734291093@qq.com</p>
				<p>Xiang's email:xsx1996@163.com</p>
				<p>Lou's email:louyk14@163.com</p>
			</div>
		</footer>
	</body>
</html>