<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<title>Welcome to LinkAct</title>
		<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
		<!-- 新 Bootstrap 核心 CSS 文件 -->
		<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">

		<!-- 可选的Bootstrap主题文件（一般不用引入） -->
		<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

		<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
		<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

		<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
		<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{%static "css/start_page.css" %}">
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{%static "css/navigation.css" %}">
	
	</head>
	<body margin='0px'>
		<nav class="navbar navbar-default">	
			<div id="logo" style='background-color=#f8f8f8:'>
      			<a id='logopart1'>Link</a>
      			<a id='logopart2'>Act</a>
      			<a id='copy'>"Link The Activities To You"</a>
    		</div>

    		{% if has_login %}
    		{% if has_own_avatar and img.img%}
    		<img id='user_img_id' src={{ img.img.url }} />
    		{% else %}
    		<img id='user_img_id' src="{%static "img/default_avatar.jpg" %}"/>
    		{% endif %}
    		{% endif %}

			<div class="container-fluid" id="navigation_container">
    			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      			<ul class="nav nav-pills navbar-left">

	      				{%url 'start_page_url' as url0 %}
					  	{% if url0 %}
					  	<li role="presentation" class="active"><a href="{{ url0 }}">首页</a></li>
					  	{% endif%}

					  	{%url 'linker_page_url' as url1 %}
					  	{% if url1 %}
					  	<li role="presentation"><a href="{{ url1 }}?search_class=create_time&search_content=&search_order=1&search_page=1">领客</a></li>
					  	{% endif %}

					  	{%url 'activities_page_url' as url2 %}
					  	{% if url2 %}
					  	<li role="presentation"><a href="{{ url2 }}?search_class=create_time&search_content=&search_order=1&search_page=1">活动</a></li>
					  	{% endif %}

					  	{%url 'explore_page_url' as url3 %}
					  	{% if url3 %}
					  	<li role="presentation"><a href="{{ url3 }}">探索</a></li>
					  	{% endif %}

					  	{%url 'share_page_url' as url4 %}
					  	{% if url4 %}
					  	<li role="presentation"><a href="{{ url4 }}">分享</a></li>
					  	{% endif%}

					</ul>
		      		<ul class="nav navbar-nav navbar-right">
		      			{% if has_login %}
		      			<li><a id='user_name_id'>{{ user_name }}</a></li>

		        		<li><a href='./?user_login=0'>登出</a></li>
		        		<li class="dropdown">
			          		<a href='#' class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">操作<span class="caret"></span></a>
				            <ul class="dropdown-menu">
					            <li><a href="#">管理活动</a></li>
					            <li><a href="#">查看好友</a></li>
					            <li><a href="#">分享</a></li>
					            <li role="separator" class="divider"></li>
					            {% url 'user_info_url' as url7%}
					            {% if url7 %}
					            <li><a href="{{ url7 }}">用户信息</a></li>
					           	{% endif%}
					           	{% url 'user_password_url' as url8%}
					            {% if url8%}
					            <li><a href="{{ url8 }}">修改密码</a></li>
					            {% endif %}
					            
				            </ul>
			        	</li>
			        	
			        	{% else %}
			        	{% url 'log_in_url' as url5%}
			        	{% if url5%}
			        	<li><a href="{{ url5 }}">登录</a></li>
			        	{% endif %}
		        		{% url 'register_url' as url6%}
		        		{% if url6 %}
		        		<li><a href="{{ url6 }}">注册</a></li>
		        		{% endif %}
			        	{% endif %}
			        </ul>
			    </div><!-- /.navbar-collapse -->
	  		</div><!-- /.container-fluid -->
		</nav>
		<div class="cover">
			<p id="title">Link The Activties</p>
			<p id="subtitle">make the life better</p>
		</div>

		<div class="jumbotron" style='margin-bottom:0px'>
		  	<div class="container">
		   		<h1>加入我们成为领客一份子</h1>
				<p>在这里，你可以认识到与你有着共同爱好的一群人</p>
				<p>他们与你共享互动的喜悦</p>
				{% if url1 %}
				<p><a class="btn btn-primary btn-lg" href="{{ url1 }}?search_class=nickname&search_content=nickname&search_order=1&search_page=1" role="button">了解更多</a></p>
				{% endif %}
		  	</div>
		</div>
		<div class="jumbotron" style='margin-bottom:0px; text-align:right' >
		  	<div class="container">
		   		<h1>通过活动连接彼此的生活</h1>
		   		<p>只需简单的操作，你就可以发起一次活动，邀请各路人们加入你的盛宴</p>
				<p>喜爱的活动，畅谈的朋友，生活充满了色彩</p>
				{% if url2 %}
				<p><a class="btn btn-primary btn-lg" href="{{ url2 }}?search_class=create_time&search_content=create_time&search_order=1&search_page=1" role="button">了解更多</a></p>
				{% endif %}
		  	</div>
		</div>
		<div class="jumbotron" style='margin-bottom:0px'>
		  	<div class="container">
		   		<h1>探索与发现周围的精彩活动</h1>
				<p>千千万万种活动待你发现</p>
				<p>从这里发现世界的精彩</p>
				{% if url3 %}
				<p><a class="btn btn-primary btn-lg" href="{{ url3 }}" role="button">了解更多</a></p>
				{% endif %}
		  	</div>
		</div>
		<div class="jumbotron" style='margin-bottom:0px; text-align:right'>
		  	<div class="container">
		   		<h1>向更多的人分享你的活动</h1>
				<p>几次点击，就可能向朋友送出邀请</p>
				<p>传播活动带来的欢乐</p>
				{% if url4 %}
				<p><a class="btn btn-primary btn-lg" href="{{ url4 }}" role="button">了解更多</a></p>
				{% endif %}
		  	</div>
		</div>
	
		
		<footer class="bs-docs-footer" role="contentinfo">
			<div class='container' id='copy_right'>
				<hr/>
				<p>由古志诚、向首兴、楼昀恺设计以及建造的网站</p>
				<p>感谢github上开源的bootstrap框架以及django框架</p>
				<p>若有建议以及意见，请不拘束地联系我们</p>
				<p>Gu's email:734291093@qq.com</p>
				<p>Xiang's email:xsx1996@163.com</p>
				<p>Lou's email:louyk14@163.com</p>
			</div>
		</footer>
	</body>
</html>