<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<title>Welcome to LinkAct</title>
		<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
		<!-- 新 Bootstrap 核心 CSS 文件 -->
		<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">

		<!-- 可选的Bootstrap主题文件（一般不用引入） -->
		<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

		<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
		<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

		<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
		<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{%static "css/start_page.css" %}">
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{%static "css/navigation.css" %}">
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{%static "css/profile.css"%}">

		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{%static "css/bootstrap-datetimepicker.min.css"%}">

	</head>
	<body margin='0px'>
		<nav class="navbar navbar-default">	
			<div id="logo" style='background-color=#f8f8f8:'>
      			<a id='logopart1'>Link</a>
      			<a id='logopart2'>Act</a>
      			<a id='copy'>"Link The Activities To You"</a>
    		</div>

    		{% if has_login %}
    		{% if has_own_avatar and img.img%}
    		<img id='user_img_id' src={{ img.img.url }} />
    		{% else %}
    		<img id='user_img_id' src="{%static "img/default_avatar.jpg" %}"/>
    		{% endif %}
    		{% endif %}

			<div class="container-fluid" id="navigation_container">
    			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      			<ul class="nav nav-pills navbar-left">

	      				{%url 'start_page_url' as url0 %}
					  	{% if url0 %}
					  	<li role="presentation"><a href="{{ url0 }}">首页</a></li>
					  	{% endif%}

					  	{%url 'linker_page_url' as url1 %}
					  	{% if url1 %}
					  	<li role="presentation"><a href="{{ url1 }}?search_class=&search_content=&search_order=1&search_page=1">领客</a></li>
					  	{% endif %}

					  	{%url 'activities_page_url' as url2 %}
					  	{% if url2 %}
					  	<li role="presentation"><a href="{{ url2 }}?search_class=create_time&search_content=create_time&search_order=1&search_page=1">活动</a></li>
					  	{% endif %}

					  	{%url 'explore_page_url' as url3 %}
					  	{% if url3 %}
					  	<li role="presentation"><a href="{{ url3 }}">探索</a></li>
					  	{% endif %}

					  	{%url 'share_page_url' as url4 %}
					  	{% if url4 %}
					  	<li role="presentation"><a href="{{ url4 }}">分享</a></li>
					  	{% endif%}

					</ul>
		      		<ul class="nav navbar-nav navbar-right">
		      			{% if has_login %}
		      			<li><a id='user_name_id'>{{ personal_msg.username}}</a></li>

		        		<li><a href='../../?user_login=0'>登出</a></li>
		        		<li class="dropdown">
			          		<a href='#' class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">操作<span class="caret"></span></a>
				            <ul class="dropdown-menu">
					            <li><a href="#">管理活动</a></li>
					            <li><a href="#">查看好友</a></li>
					            <li><a href="#">分享</a></li>
					            <li role="separator" class="divider"></li>
					            {% url 'user_info_url' as url7%}
					            {% if url7 %}
					            <li><a href="{{ url7 }}">个人信息</a></li>
					            {% endif %}
					            {% url 'user_password_url' as url8%}
					            {% if url8 %}
					            <li><a href="{{ url8 }}">修改密码</a></li>
					            {% endif %}
				            </ul>
			        	</li>
			        	
			        	{% else %}
			        	{% url 'log_in_url' as url5%}
			        	{% if url5%}
			        	<li><a href="{{ url5 }}">登录</a></li>
			        	{% endif %}
		        		{% url 'register_url' as url6%}
		        		{% if url6 %}
		        		<li><a href="{{ url6 }}">注册</a></li>
		        		{% endif %}
			        	{% endif %}
			        </ul>
			    </div><!-- /.navbar-collapse -->
	  		</div><!-- /.container-fluid -->
		</nav>

		<div class="container">
		    <div class="row profile">
				<div class="col-md-3">
					<div class="profile-sidebar">
						<!-- SIDEBAR USERPIC -->
						<div class="profile-userpic">
					
				    		{% if has_own_avatar and img.img%}
				    		<img class="img-responsive" src={{ img.img.url }} />
				    		{% else %}
				    		<img class="img-responsive" src="{%static "img/default_avatar.jpg" %}"/>
				    		{% endif %}
				    	
						</div>
						<!-- END SIDEBAR USERPIC -->
						<!-- SIDEBAR USER TITLE -->
						<div class="profile-usertitle">
							<div class="profile-usertitle-name">
								{{personal_msg.username}}
							</div>
							{% if info_change_status == False %}
							<div class="profile-usertitle-nickname">
								{% if personal_msg.myuser.nickname == ''%}
								尚未设置昵称
								{% else %}
								昵称:{{personal_msg.myuser.nickname}}
								{% endif %}
							</div>
							{% else %}
							<form method="POST" enctype="multipart/form-data">
								{% csrf_token %}
								<div class="form-group" style='width:100%;'>
									<input type="file" name="img_upload" id="img_upload" style='width:100%;' accept="image/png, image/jpeg, image/gif">
								  	<label class="col-md-4 control-label" for="img_upload_btn"></label>
								  	<div class="col-md-4">
								    	<button type="submit" id="img_upload_btn" name="img_upload_btn" value="upload" class="btn btn-info">上传头像</button>
								  	</div>
								</div>
								</label>
							</form>
							{% endif %}
						</div>
						
						<div class="profile-usermenu">
							<ul class="nav">

								{% if info_change_status == False %}
								<li class="active">
									<a href="{{url7}}">
									<i class="glyphicon glyphicon-home"></i>
									个人信息 </a>
								</li>
								<li>
									<a href="{{url7}}?info_change=1">
									<i class="glyphicon glyphicon-user"></i>
									用户信息设置 </a>
								</li>
								{% else %}
								<li>
									<a href="{{url7}}">
									<i class="glyphicon glyphicon-home"></i>
									个人信息 </a>
								</li>
								<li class="active">
									<a href="{{url7}}?info_change=1">
									<i class="glyphicon glyphicon-user"></i>
									用户信息设置 </a>
								</li>
								{% endif %}
								<li>
									<a href="#" target="_blank">
									<i class="glyphicon glyphicon-tasks"></i>
									管理活动 </a>
								</li>
								<li>
									<a href="{{url8}}">
									<i class="glyphicon glyphicon-lock"></i>
									设置密码 </a>
								</li>
							</ul>
						</div>
						<!-- END MENU -->
					</div>
				</div>
				<div class="col-md-9">

		            <div class="profile-content">
		            	{% if info_change_status == False %}

						<div class="panel panel-info">
			            	<div class="panel-heading">
			              		<h3 class="panel-title">个人信息查看</h3>
			            	</div>
			            	<div class="panel-body">
			              		<div class="row">
			      
			                		<div class=" col-md-9 col-lg-9 "> 
			                  			<table class="table table-user-information">
			                    			<tbody>
			                    				<tr>
						                        	<td>昵称：</td>
						                        	{% if personal_msg.myuser.nickname != ''%}
						                        	<td>{{personal_msg.myuser.nickname}}</td>
						                        	{% else %}
						                        	<td>未填写</td>
						                        	{% endif %}
						                      	</tr>
						                      	<tr>
						                        	<td>性别：</td>
						                        	{% if personal_msg.myuser.gender != ''%}
						                        	<td>{{personal_msg.myuser.gender}}</td>
						                        	{% else %}
						                        	<td>未填写</td>
						                        	{% endif %}
						                      	</tr>
						                      	<tr>
						                        	<td>生日：</td>
						                        	{% if personal_msg.myuser.birthday != ''%}
						                        	<td>{{personal_msg.myuser.birthday|date:"Y-m-d"}}</td>

						                        	{% else %}
						                        	<td>未填写</td>
						                        	{% endif %}
						                      	</tr>
						                        	<td>城市：</td>
						                        	{% if personal_msg.myuser.city != ''%}
						                        	<td>{{personal_msg.myuser.city}}</td>
						                        	{% else %}
						                        	<td>未填写</td>
						                        	{% endif %}
						                      	</tr>
						                        <tr>
						                        	<td>爱好：</td>
						                        	<td>{{interest_msg}}</td>
						                      	</tr>
						                      	<tr>
						                        	<td>电子邮箱：</td>
						                        	<td>{{personal_msg.email}}</td>
						                      	</tr>
						                      	<tr>
						                        	<td>联系电话：</td>
						                        	{% if personal_msg.myuser.phone_number != ''%}
						                        	<td>{{personal_msg.myuser.phone_number}}</td>
						                        	{% else %}
						                        	<td>未填写</td>
						                        	{% endif %}
						                      	</tr>
						                    </tbody>
			                  			</table>
			                  		</div>
								</div>
							</div>
						</div>

						{% else %}
						<form class="form-horizontal" method='post'>
							<fieldset>
							{% csrf_token %}
							<!-- Form Name -->
							<legend>修改个人信息</legend>

							<!-- Text input-->
							<div class="form-group">
							  	<label class="col-md-4 control-label" for="nickname">昵称:</label>  
							  	<div class="col-md-4">
							  		<input id="nickname" name="nickname" type="text" placeholder="未填写" class="form-control input-md" value="{{personal_msg.myuser.nickname}}">
							  	</div>
							</div>

							<div class="form-group">
							  	<label class="col-md-4 control-label" for="gender">性别:</label>
							  	<div class="col-md-4"> 
							    	<label class="radio-inline" for="gender-0">
							    		{%if personal_msg.myuser.gender == "男"%}
							      		<input type="radio" name="gender" id="gender-0" value="男" checked="check">
							      		男
							      		{% else %}
							      		<input type="radio" name="gender" id="gender-0" value="男">
							      		男
							      		{% endif %}
							    	</label> 

							    	<label class="radio-inline" for="gender-1">
							    		{%if personal_msg.myuser.gender == "女"%}
							      		<input type="radio" name="gender" id="gender-1" value="女" checked="check">
							      		女
							      		{% else %}
							      		<input type="radio" name="gender" id="gender-1" value="女">
							      		女
							      		{% endif %}
							    	</label> 
							    	<label class="radio-inline" for="gender-2">
							    		{%if personal_msg.myuser.gender == ""%}
							      		<input type="radio" name="gender" id="gender-2" value="" checked="check">
							      		未填写
							      		{% else %}
							      		<input type="radio" name="gender" id="gender-2" value="">
							      		未填写
							      		{% endif %}
							    	</label>
							  	</div>
							</div>

							<div class="form-group">
                				<label for="birthday" class="col-md-4 control-label">生日:</label>
                				<div class="input-group date form_date col-md-4" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                    				<input class="form-control" style="margin-left: 12px; background-color:transparent;" id="birthday" name="birthday"size="16" type="text" 
                    				value="{{personal_msg.myuser.birthday|date:"Y-m-d"}}" readonly>
                    				<span class="input-group-addon" style="margin-left: 12px;"><span class="glyphicon glyphicon-remove"></span></span>
									<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                				</div>
								<input type="hidden" value="" /><br/>
            				</div>

							<!-- Text input-->
							<div class="form-group">
				                <label class="col-md-4 control-label" for="province">省份</label>

				                <div class="col-md-4 controls">
				                    <select id="province" name="province" class="form-control">
				                        <option value="载入中">载入中</option>
				                    </select>
				                </div>
				            </div>
				            <div class="form-group">
				                <label class="col-md-4 control-label" for="city">城市</label>

				                <div class="col-md-4 controls">
				                    <select id="city" name="city" class="form-control">
				                        <option value="载入中">载入中</option>
				                    </select>
				                </div>
				            </div>

							<!-- Select Multiple -->
							<div class="form-group">
							  	<label class="col-md-4 control-label" for="interests">爱好:</label>
							  	<div class="col-md-4">

									{% for data in check_interest_msg %}
									{% if data.2 == 1%}
									<div class="checkbox">
										<label for="checkboxes">
										<input type="checkbox" name="interests" id="interests-0" value="{{data.0}}" checked = "check">
										{{data.1}}
									</div>
									{% else %}
									<div class="checkbox">
										<label for="checkboxes">
										<input type="checkbox" name="interests" id="interests-0" value="{{data.0}}">
										{{data.1}}
									</div>
									{% endif %}
									{% endfor %}
							  	</div>
							</div>

							<!-- Text input-->
							<div class="form-group">
							  	<label class="col-md-4 control-label" for="phone">联系电话:</label>  
							  	<div class="col-md-4">
							  		<input id="phone_number" name="phone_number" type="text" placeholder="请输入联系电话" class="form-control input-md" value="{{personal_msg.myuser.phone_number}}">
							  		<span class="help-block">请输入正确的11位电话</span>  
							  	</div>
							</div>

							<!-- Multiple Radios (inline) -->
							

							<!-- Button -->
							<div class="form-group">
							  	<label class="col-md-4 control-label" for="singlebutton"></label>
							  	<div class="col-md-4">
							    	<button type="submit" value='change' name="change_info" class="btn btn-success">确认修改</button>
							  	</div>
							</div>

							</fieldset>
						</form>

						{% endif %}

		            </div>
				</div>
			</div>
		</div>
		<br>
		<br>

		<footer class="bs-docs-footer" role="contentinfo">
			<div class='container' id='copy_right'>
				<hr/>
				<p>由古志诚、向首兴、楼昀恺设计以及建造的网站</p>
				<p>感谢github上开源的bootstrap框架以及django框架</p>
				<p>若有建议以及意见，请不拘束地联系我们</p>
				<p>Gu's email:734291093@qq.com</p>
				<p>Xiang's email:xsx1996@163.com</p>
				<p>Lou's email:louyk14@163.com</p>
			</div>
		</footer>
	</body>

	{% load staticfiles %}
	<script src="{%static "js/bootstrap-datetimepicker.min.js" %}"></script>
	{% load staticfiles %}
	<script src="{%static "js/bootstrap-datetimepicker.zh-CN.js" %}"></script>
	{% load staticfiles %}
	<script src="{%static "js/bootstrap-filestyle.min.js" %}"> </script>
	{% load staticfiles %}
	<script src="{%static "js/data.js" %}"> </script>
	{% load staticfiles %}
	<script src="{%static "js/jquery.city.select.min.js" %}"> </script>
	<script type="text/javascript">

		city_code = [];

		default_province = "{{default_province}}";
		default_city = "{{default_city}}";
		for(var i = 0; i < data.length; i++)
		{
			if(data[i]['name'] == default_province)
			{
				city_code.push(data[i]['id']);
				for(var j = 0; j < data[i]['cities'].length; j++)
				{
					if(data[i]['cities'][j]['name'] == default_city)
					{
						city_code.push(data[i]['cities'][j]['id']);
						break;
					}
				}
				break;
			}			
		}
	  	$('#province, #city').citylist({
	        data    : data,
	        id      : 'id',
	        children: 'cities',
	        name    : 'name',
	        metaTag : 'name',
	        selected : city_code
	    });
		$('.form_date').datetimepicker({
	        language:  'zh-CN',
	        weekStart: 1,
	        todayBtn:  1,
			autoclose: 1,
			todayHighlight: 1,
			startView: 2,
			minView: 2,
			forceParse: 0
	    });
		$('#birthday').width($('#birthday').width() - 12);
		$(":file").filestyle();
	</script>
</html>