<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<title>Welcome to LinkAct</title>
		<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
		<!-- 新 Bootstrap 核心 CSS 文件 -->
		<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">

		<!-- 可选的Bootstrap主题文件（一般不用引入） -->
		<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

		<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
		<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

		<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
		<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{%static "css/start_page.css" %}">
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{%static "css/navigation.css" %}">
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{%static "css/profile.css"%}">
		<script src="{%static "js/set_password.js"%}"></script>
	</head>
	<body margin='0px'>
		<nav class="navbar navbar-default">	
			<div id="logo" style='background-color=#f8f8f8:'>
      			<a id='logopart1'>Link</a>
      			<a id='logopart2'>Act</a>
      			<a id='copy'>"Link The Activities To You"</a>
    		</div>

    		{% if has_login %}
    		{% if has_own_avatar and img.img%}
    		<img id='user_img_id' src={{ img.img.url }} />
    		{% else %}
    		<img id='user_img_id' src="{%static "img/default_avatar.jpg" %}"/>
    		{% endif %}
    		{% endif %}

			<div class="container-fluid" id="navigation_container">
    			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      			<ul class="nav nav-pills navbar-left">

	      				{%url 'start_page_url' as url0 %}
					  	{% if url0 %}
					  	<li role="presentation"><a href="{{ url0 }}">首页</a></li>
					  	{% endif%}

					  	{%url 'linker_page_url' as url1 %}
					  	{% if url1 %}
					  	<li role="presentation"><a href="{{ url1 }}?search_class=&search_content=&search_order=1&search_page=1">领客</a></li>
					  	{% endif %}

					  	{%url 'activities_page_url' as url2 %}
					  	{% if url2 %}
					  	<li role="presentation"><a href="{{ url2 }}?search_class=create_time&search_content=&search_order=1&search_page=1">活动</a></li>
					  	{% endif %}

					  	{%url 'explore_page_url' as url3 %}
					  	{% if url3 %}
					  	<li role="presentation"><a href="{{ url3 }}">探索</a></li>
					  	{% endif %}

					  	{%url 'share_page_url' as url4 %}
					  	{% if url4 %}
					  	<li role="presentation"><a href="{{ url4 }}">分享</a></li>
					  	{% endif%}

					</ul>
		      		<ul class="nav navbar-nav navbar-right">
		      			{% if has_login %}
		      			<li><a id='user_name_id'>{{ user_name }}</a></li>

		        		<li><a href='../../?user_login=0'>登出</a></li>
		        		<li class="dropdown">
			          		<a href='#' class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">操作<span class="caret"></span></a>
				            <ul class="dropdown-menu">
					            <li><a href="#">管理活动</a></li>
					            <li><a href="#">查看好友</a></li>
					            <li><a href="#">分享</a></li>
					            <li role="separator" class="divider"></li>
					            {% url 'user_info_url' as url7%}
					            {% if url7 %}
					            <li><a href="{{ url7 }}">用户信息</a></li>
					            {% endif %}
					            {% url 'user_password_url' as url8%}
					            {% if url8 %}
					            <li><a href="{{ url8 }}">修改密码</a></li>
					            {% endif %}
				            </ul>
			        	</li>
			        	
			        	{% else %}
			        	{% url 'log_in_url' as url5%}
			        	{% if url5%}
			        	<li><a href="{{ url5 }}">登录</a></li>
			        	{% endif %}
		        		{% url 'register_url' as url6%}
		        		{% if url6 %}
		        		<li><a href="{{ url6 }}">注册</a></li>
		        		{% endif %}
			        	{% endif %}
			        </ul>
			    </div><!-- /.navbar-collapse -->
	  		</div><!-- /.container-fluid -->
		</nav>
	
		<div class="container">
		    <div class="row profile">
				<div class="col-md-3">
					<div class="profile-sidebar">
						<!-- SIDEBAR USERPIC -->
						<div class="profile-userpic">
					
				    		{% if has_own_avatar%}
				    		<img class="img-responsive" src={{ img.img.url }} />
				    		{% else %}
				    		<img class="img-responsive" src="{%static "img/default_avatar.jpg" %}"/>
				    		{% endif %}
				    	
						</div>
						<!-- END SIDEBAR USERPIC -->
						<!-- SIDEBAR USER TITLE -->
						<div class="profile-usertitle">
							<div class="profile-usertitle-name">
								{{user_name}}
							</div>
							<div class="profile-usertitle-email">
								{% if nickname == ''%}
								尚未设置昵称
								{% else %}
								昵称:{{nickname}}
								{% endif %}
							</div>
						</div>
						
						<div class="profile-usermenu">
							<ul class="nav">
								<li>
									<a href="{{url7}}">
									<i class="glyphicon glyphicon-home"></i>
									个人信息 </a>
								</li>
								<li>
									<a href="{{url7}}?info_change=1">

									<i class="glyphicon glyphicon-user"></i>
									用户信息设置 </a>
								</li>
								<li>
									<a href="#" target="_blank">
									<i class="glyphicon glyphicon-tasks"></i>
									管理活动 </a>
								</li>
								<li class="active">
					            	<a href="{{url8}}">
									<i class="glyphicon glyphicon-lock"></i>
									设置密码 </a>
								</li>
							</ul>
						</div>
						<!-- END MENU -->
					</div>
				</div>
				<div class="col-md-9">
		            <div class="profile-content">
						<form class="form-horizontal" method='post'>
						{% csrf_token %}

						<fieldset>

						<!-- Form Name -->
						<legend>修改密码</legend>

						<!-- Password input-->
						<div class="form-group">
						  	<label class="col-md-4 control-label" for="origin_password">原始密码</label>
						  	<div class="col-md-4">
						    	<input id="origin_password" name="origin_password" type="password" placeholder="请输入原始密码" class="form-control input-md" required="">
						    
						  	</div>
						</div>

						<!-- Password input-->
						<div class="form-group">
						  	<label class="col-md-4 control-label" for="new_password1">新密码</label>
						  	<div class="col-md-4">
						    	<input id="new_password1" name="new_password1" type="password" placeholder="请输入新密码" class="form-control input-md" required="">
						    
						  	</div>
						</div>

						<!-- Password input-->
						<div class="form-group">
						  	<label class="col-md-4 control-label" for="new_password2">再次输入新密码</label>
						  	<div class="col-md-4">
						    	<input id="new_password2" name="new_password2" type="password" placeholder="请再次输入新密码" class="form-control input-md" required="">
						    
						  	</div>
						</div>
						<div class="form-group">
						  	<label class="col-md-4 control-label" for="singlebutton"></label>
						  	<div class="col-md-4">
						    	<button id="singlebutton" name="singlebutton" class="btn btn-success">确认修改</button>
						  	</div>
						</div>

						</fieldset>
						</form>
		            </div>
				</div>
			</div>
		</div>
		<br>
		<br>

		
		<footer class="bs-docs-footer" role="contentinfo">
			<div class='container' id='copy_right'>
				<hr/>
				<p>由古志诚、向首兴、楼昀恺设计以及建造的网站</p>
				<p>感谢github上开源的bootstrap框架以及django框架</p>
				<p>若有建议以及意见，请不拘束地联系我们</p>
				<p>Gu's email:734291093@qq.com</p>
				<p>Xiang's email:xsx1996@163.com</p>
				<p>Lou's email:louyk14@163.com</p>
			</div>
		</footer>
	</body>
</html>